<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org" xmlns:jsp="http://www.w3.org/1999/html">
<head>
    <title>Getting Started: Serving Web Content</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>

<form action="/play" method="GET">
    <select id="file" name="file">
        <option value="sample1.mid">sample1.mid</option>
        <option value="sample2.mid">sample2.mid</option>
    </select>
    <button type="submit" value="Play!">Play!</button>
</form>

</body>
</html>